@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1><br />
    <p>What time is it in South Sudan?</p>
    <p>Interesting question. Here's the answer:</p><br />
    <p>@ViewData["SouthSudanTime"]</p><br />
    <p>Pretty mind-blowing, right?</p>
    <p>Yeah. You're welcome.</p><br />
</div>

<div class="south-sudan-pic"></div>
